{% extends 'blog/base.html' %}

{% block content %}
    <!--we can call python code using the percent sign to basically exit out html to run python code-->
    {% for post in posts %}

        <!--articles are like headers in that they just divide the webpage into another section-->
        <article class="post">
            <!--time tag allows us to format time better-->
            <!--use double brackets we grabbing python data-->
            <time class="date">published: {{ post.published_date }}</time>
            <!--each article is like a sub heading of the blog so we can use h2 for this-->
            <h2><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }} </a></h2>
            <!--p tag - it renders a paragraph with text-->
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
        <!--because we are going between html and django/python we have to say when the for loop ends-->
    {% endfor %}

{% endblock %}
      